<!DOCTYPE html>
<head>
  <title>Stocks with Friends</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
  <style>

  body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
  }

  .stocks {
    padding: 10px 15px;
    margin: 5px;
    border: 1px solid black;
    display: inline-block;
  }

  .show-data:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .fa-trash {
    color: gray;
  }

  .fa-trash:hover {
    cursor: pointer;
    color: blue;
  }

  .axis {
    font: 10px sans-serif;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
  }

  text {
    color: white;
  }

  .well {
    background-color: rgba(0,0,0,0.5);
    padding: 5px;
    font-size: 16px;
  }

  p:hover {
    cursor: pointer;
  }

  @keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @-webkit-keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  .lds-spinner {
    position: relative;
  }
  .lds-spinner div {
    left: 94px;
    top: 23px;
    position: absolute;
    -webkit-animation: lds-spinner linear 1s infinite;
    animation: lds-spinner linear 1s infinite;
    background: #ffffff;
    width: 12px;
    height: 34px;
    border-radius: 20%;
    -webkit-transform-origin: 6px 77px;
    transform-origin: 6px 77px;
  }
  .lds-spinner div:nth-child(1) {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-animation-delay: -0.916666666666667s;
    animation-delay: -0.916666666666667s;
  }
  .lds-spinner div:nth-child(2) {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    -webkit-animation-delay: -0.833333333333333s;
    animation-delay: -0.833333333333333s;
  }
  .lds-spinner div:nth-child(3) {
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
    -webkit-animation-delay: -0.75s;
    animation-delay: -0.75s;
  }
  .lds-spinner div:nth-child(4) {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-animation-delay: -0.666666666666667s;
    animation-delay: -0.666666666666667s;
  }
  .lds-spinner div:nth-child(5) {
    -webkit-transform: rotate(120deg);
    transform: rotate(120deg);
    -webkit-animation-delay: -0.583333333333333s;
    animation-delay: -0.583333333333333s;
  }
  .lds-spinner div:nth-child(6) {
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg);
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
  }
  .lds-spinner div:nth-child(7) {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-animation-delay: -0.416666666666667s;
    animation-delay: -0.416666666666667s;
  }
  .lds-spinner div:nth-child(8) {
    -webkit-transform: rotate(210deg);
    transform: rotate(210deg);
    -webkit-animation-delay: -0.333333333333333s;
    animation-delay: -0.333333333333333s;
  }
  .lds-spinner div:nth-child(9) {
    -webkit-transform: rotate(240deg);
    transform: rotate(240deg);
    -webkit-animation-delay: -0.25s;
    animation-delay: -0.25s;
  }
  .lds-spinner div:nth-child(10) {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    -webkit-animation-delay: -0.166666666666667s;
    animation-delay: -0.166666666666667s;
  }
  .lds-spinner div:nth-child(11) {
    -webkit-transform: rotate(300deg);
    transform: rotate(300deg);
    -webkit-animation-delay: -0.083333333333333s;
    animation-delay: -0.083333333333333s;
  }
  .lds-spinner div:nth-child(12) {
    -webkit-transform: rotate(330deg);
    transform: rotate(330deg);
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }

  </style>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">Stocks With Friends</h1>
        <div class="lds-spinner"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <span class="lead pull-right">Enter Stock Symbol : e.g. AAPL (Apple)</span>
      </div>
      <div class="col-md-6">
        <span id="show"></span>
        <form id="symbol" style="display:inline;">
          <input name="symbol" type="text" id="symbol-input">
          <input type="submit" value="Go" class="btn btn-default">
        </form>
      </div>
      <div class="col-md-12">
          <div id="stock-panel"></div>
        </div>
    </div>
    <div class="row">
      <svg width="960" height="500"></svg>
    </div>
    <div class="row">
      <div class="col-md-12">
        <span><strong>Project by :</strong> by <a href="https://mike.cabelin.com">Neptune Michael Cabelin</a> ---
        <strong>Github repository found at : </strong><a href="https://github.com/ncabelin/stocks-with-friends.git">https://github.com/ncabelin/stocks-with-friends.git</a></span>
      </div>
    </div>
  </div>
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script>
$(document).ready(function() {
  var socket = io();
  socket.on('add stock', function(stck) {
    addStock(stck);
  });

  socket.on('remove stock', function(stck) {
    removeStock(stck);
  });

  var colors = ['steelblue','red','orange', 'yellow', 'green', 'purple', 'black', 'violet', 'brown', 'pink'],
      symbols = [],
      first = true,
      stock_data = [];

  // onLoad check server for currently saved stocks
  $.ajax({
    type: 'GET',
    url: '/list_stocks'
  }).done(function(result) {
    result.forEach(function(s) {
      addStock(s.name);
    });
  }).fail(function(err) {
    console.log(err);
  });

  // form submit handler
  $('#symbol').submit(function(e) {
    e.preventDefault();
    // get symbol value
    var sym = $('#symbol-input').val().toUpperCase();
    socket.emit('add stock', sym);
  });

  function addStock(sym) {
    var color;

    // empty input
    $('#symbol-input').val('');

    // check if symbol already exists
    var index = symbols.indexOf(sym);
    if (index === -1) {
      var i = symbols.length;
      symbols.push(sym);
      color = colors[i];
    } else {
      // symbol exists already
      return;
    }

    getStockData(sym).done(function(result) {
      $('#stock-panel').append('<span class="stocks" data-id="' + sym + '"><strong><span class="show-data" data-id="' + sym + '">' + sym + '</span></strong> &nbsp;&nbsp; <i class="fa fa-trash" data-id="' + sym + '"></i></span>');
      $('span[data-id=' + sym + ']').css('color', color);

      $('.fa-trash').off()
      $('.fa-trash').click(function() {
        var symbol = $(this).data('id');
        // remove stock from database
        socket.emit('remove stock', symbol);
      });

      $('.show-data').off();
      $('.show-data').click(function() {
        var symbol = $(this).data('id');
        followLine(symbol);
      });

      var converted = convertStocks(result);
      console.log(converted);
      renderChart(converted, color, first, sym);
      first = false;
    }).fail(function(err) {
      alert('Failed to get data');
    });
  }

  function removeStock(symbol) {
    // remove from symbols array
    var symbol_index = symbols.indexOf(symbol);
    if (symbol_index !== -1) {
      // remove line
      d3.select('#' + symbol).remove();
      // remove DOM element
      $('span[data-id="' + symbol + '"]').remove();
      // remove from symbols array
      symbols.splice(symbol_index, 1);
    } else {
      console.log('Symbol already deleted')
    }
  }

  function getStockData(symbol) {
    return $.ajax({
      type: 'GET',
      url: '/get_stock?q=' + symbol
    });
  }

  function convertStocks(obj) {
    // convert object data to array of date and close
    var data = obj['Monthly Time Series'];
    var arr = [];
    for (k in data) {
      if (data.hasOwnProperty(k)) {
        arr.push({
          date: k,
          close: data[k]['4. close']
        });
      }
    }
    return arr
  }

  function renderChart(data, c, first, symbol) {
    var svg = d3.select("svg"),
    margin = {top: 20, right: 20, bottom: 50, left: 50},
    width = +svg.attr("width") - margin.left - margin.right,
    height = +svg.attr("height") - margin.top - margin.bottom,
    bisectDate = d3.bisector(function(d) { return d.date; }).left,
    g = svg.append("g").attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    var x = d3.scaleTime()
        .range([0, width]);

    var y = d3.scaleLinear()
        .range([height, 0]);

    var line = d3.line()
        .x(function(d) {
          return x(d.date); })
        .y(function(d) {
          return y(d.close); });

    data.forEach(function(d) {
        var d_arr = d.date.split('-');
        d.date = new Date(d_arr[1] + '/' + d_arr[2] + '/' + d_arr[0]);
        d.close = +d.close;
    });

    x.domain(d3.extent(data, function(d) { return d.date; }));
    y.domain(d3.extent(data, function(d) { return d.close; }));

    // draw axis only if first rendering
    if (first) {
      g.append("g")
        .attr("transform", "translate(0," + height + ")")
        .call(d3.axisBottom(x));

      g.append("g")
          .call(d3.axisLeft(y))
        .append("text")
          .attr("fill", "#000")
          .attr("transform", "rotate(-90)")
          .attr("y", 6)
          .attr("dy", "0.71em")
          .attr("text-anchor", "end")
          .text("Price ($)");
    }

    g.append("path")
        .datum(data)
        .attr("id", symbol)
        .attr("fill", "none")
        .attr("stroke", c)
        .attr("stroke-linejoin", "round")
        .attr("stroke-linecap", "round")
        .attr("stroke-width", 1.5)
        .attr("d", line)
        .on("mousemove", function() {
          var m = d3.mouse(this)
          console.log(m);
        })
      .append("text");

  } // end of renderChart()

  // creates an element to follow the line of path of a symbol
  function followLine(symbol) {
    console.log(symbol);
    var svg = d3.select("#" + symbol);
    svg.on('mousemove', function() {
      var m = d3.mouse(this)
      console.log(m);
      $("#show").text(m[1]);
    })
  }
});

</script>
</body>
